<div>
    <h3>Айтемы</h3>

    <!-- Форма для добавления -->
    <div> 
        <table>
            <tr> 
                <td><input type="text" [(ngModel)]="text"></td> 
                <td class="cat-icon"></td>
                <td> <input type="text" [(ngModel)]="price"></td> 
                <!-- <td><input type="text"></td> -->
                <td><button (click)="addItem(text, price)">Добавить</button></td>
            </tr>
        </table>
         
    </div>

    <!-- Таблица для отображения -->
    <table class="bordered">
        <thead>
            <tr>
                <th>Айтем</th>
                <th class="cat-icon"></th>
                <th>Место</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items"> 
                <td>{{item.purchase}}</td> 
                <td class="cat-icon">  <span class="dot red"></span>  </td>
                <td> Единица</td> 
                <td>{{item.price}}</td> 
            </tr>
        </tbody>
        
    </table>
</div>